<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <%= render :partial => 'layouts/global/head' %>
  </head>
  <body>
    <div id="home">
	  <%= render :partial => 'layouts/global/header' %>
			Your home page can be different than the rest of your site.  Build out your custom home layout here.
			<%= yield %>
      <%= render :partial => 'layouts/global/footer' %>
    </div>
  </body>
</html>